.profile_section
{
    margin-top: 1.5rem;
    width: 65rem;
}


.profile_content
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px;
    background-color: var(--bg_main_color);
    border: 1px solid var(--line_color);
    gap: 20px;
}


.proflie_introduce, .personal_info, .address_info
{
    border: 1px solid var(--line_color);
    padding: 15px;
    border-radius: 20px;
}

.proflie_introduce
{
    height: 5rem;
    display: flex;
    justify-content: space-between;

}

.personal_info, .address_info
{
    display: flex;
    flex-direction: column;
    
}

.personal_info
{
    height: 20rem;
}

.address_info
{
    height: 15.5rem;
}

.sub_info_header
{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}

.sub_info_header h2
{
    font-size: 18px;
}

.edit_profile_button
{
    cursor: pointer;
    align-self: center;
    height: 55px;
    width: 100px;
    border-radius: 30px;
    background-color: var(--bg_main_color);
    border: 1px solid var(--line_color);
}
.edit_profile_button:hover
{
    background-color: var(--primary_highlight_color_lighter);
}